a {
    color:red;
  }
  
  body {
      background-image: url(../css/img/862c916898eaac1c162ebb6e62de5e81.jpg);
  }
  
  #test {
      background-color:rgb(255, 255, 255);
      color:rgb(0, 0, 0);
      padding: 10px;
      margin: 60px;
      border: 3px solid rgb(51, 47, 26);
      border-radius: 25px; 
      opacity: 0.4;
      box-shadow: 7px 7px 20px #000000;
      width: 830px; 
      height: 20px
  }
  
  #test {
      text-align:left;
      font-size: 18px;
      transition: 5s all;
  }
  
  #test:hover {
      opacity: 1;
      transform: rotate(30deg) scale(0.3);
      background-color: red;
  }